

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* shared styles */
.display-flex{
    display: flex;
}

.rgb-background{
    background: linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8);
}

/* main styles */

nav .wave{
    background: linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8);
    color: white;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    /* background-clip: text; */
}

.sub-btn{
    padding: 12px 16px;
    gap: 4px;
    border-radius: 10000px;
    font-size: 1rem;
    font-weight: 600;
}

.hero-banner{
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-bg-img{
    width: 100%;
}

.hero-circle{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-circle img{
    width: 23vw;
    max-width: 390px;
}

.mic{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mic img{
    width: 8vw;
}

.new-btn{
    background-color: #00FF88;
    border-radius: 1000px;
    font-size: 1rem;
    padding: 8px 16px;
    color: #1A0B2E;
    font-weight: 600;
    position: absolute;
    /* top: 16%; */
    top: 21%;
    left: 57%;
    transform: translate(-50%, -50%);
}

.hero-banner-describtion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 65%;
}

.hero-banner-describtion h2{
    font-size: 3.75rem;
    font-weight: 800;

}

.common-paragraph{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.74);
}


.banenr-btn{
    margin-top: 24px;
    gap: 8px;
}

.spotify-btn{
    padding: 12px 20px;
    gap: 8px;
    border-radius: 10000px;
    font-weight: 600;
    width: 210px;
    background: linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8);
}

.spotify-btn img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
}

.subscribe-btn{
    padding: 12px 20px;
    color: #00FF88;
    gap: 8px;
    border: 2px solid #00FF88;
    border-radius: 10000px;
    font-weight: 600;
    width: 160px;
}

.subscribe-btn img{
    width: 23px;
    height: 20px;
    position: relative;
    top: 2px;
}

.second-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;

    /* position: absolute;
    top: 0;
    left: 0; */
}

.second-banner h2{
    font-size: 3rem;
    font-weight: 700;
}

.promotion-boxes{
    margin-top: 160px;
    gap: 80px;
    justify-content: space-around;
    margin-bottom: 120px;
}

.promotion-boxes h3{
    font-size: 48px;
    font-weight: 800;
    color: #00FF88;
}

.promotion-boxes p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.74);
}

.thired-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #230E3D;
    margin: 0 auto;
}

.thired-banner h2{
    margin-top: 120px;
    font-size: 3rem;
    font-weight: 700;
}

.detailed-cards{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 40px;
    max-width: 1200px;
    max-height: 783px;
    margin-bottom: 120px;
    /* margin: 0 auto; */
}

.detailed-cards div{
    background-color: #35116557;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.detailed-cards img{
    width: 60px;
    margin-top: 40px;
}

.detailed-cards h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 16px 40px;
}

.detailed-cards p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.514);
    line-height: 24px;
}

.tall-layout{
    grid-row: span 2;
}

.wide-layout{
    grid-column: span 2;
}

.episodes-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 1200px;
}

.episodes-section h2{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
}

.video-section{
    display: flex;
    gap: 30px;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* margin: 0 auto; */
    
}

.video-section div{
    background-color: #250D44;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* width: 380px;
    height: 440px; */
}

.video-section div h3{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 600;
    margin: 20px;
    height: auto;
}

.video-section div .video-describtion{
    font-size: 1rem;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.568);
    margin-bottom: 12px;
    margin-left: 24px;
}

.video-section div .video-time{
    display: flex;
    gap: 6px;
    margin-bottom: 12px;
    margin-left: 24px;
}

.video-section div .video-time img{
    width: 20px;
    height: 20px;
}

.host-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.host-section h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.host-details{
    display: flex;
    background-color: #35116577;
    /* gap: 24px; */
    border-radius: 40px;
    margin: 0 auto;
    width: 1200px;
    height: auto;
    margin-bottom: 120px;
}

.host-img{
    margin: 24px;
}

.host-describtion{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.host-describtion h3{
    font-size: 2rem;
    font-weight: 600;
    margin: 24px 0 16px 0px;
}

.host-describtion p{
    color: rgba(255, 255, 255, 0.568);
    font-size: 1rem;
    margin-bottom: 16px;
}

.host-social{
    display: flex;
    gap: 8px;
}

.host-social img{
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 10px;
    /* width: 20px;
    height: 20px; */
}




/* responsive part */
@media screen and (max-width: 576px) {
    /* .new-btn{
    position: absolute;
    top: 16%;
    left: 57%;
    transform: translate(-50%, -50%);
    padding: 4px 8px;
    } */
}